<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="start" menuId="first">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-thumbnail slot="start">
            <img src="assets/images/logo.png" />
          </ion-thumbnail>
          <ion-title >Ristorante Con Fusion</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" >
            <ion-item *ngFor="let p of appPages; let i = index" (click)="selectedIndex = i" routerDirection="root" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <ion-item (click)="openReserve() " menuClose >
              <ion-icon slot="start" name="restaurant" [ios]="restaurant" [md]="restaurant"></ion-icon>
              <ion-label>Reserve Table</ion-label>
            </ion-item>
            <ion-item (click)="openLogin() " menuClose >
              <ion-icon slot="start" name="log-in" [ios]="restaurant" [md]="restaurant"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
